.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    height: 10vh;

    position: sticky;
    top: 0;
    opacity: 0.9;
    z-index: 20;
    background-color: var(--background);
    margin-top: 0.3em;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}



.col_1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3.5em;
    width: 70%;

}
.col_1 div{
    cursor: pointer;
}

.col_2 {
    display: flex;
    gap: 0.5em;
}


.chevron {
    color: var(--accent-hover);
    font-size: 7em;
    background-color: var(--background);
    position:absolute;
    left:0.5vw;
    top:30vh;
    opacity: 90%;
    border-radius: 50%;

}